.body{
    background: whitesmoke;
}

.cadastro-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-items: auto;
    margin: 0 auto;
    height: 600px;
    width: 600px;

}

.cadastro-content{
    display: flex;
    height: 200px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}