body{
    background: rgb(232,232,232);
    background: linear-gradient(90deg, rgba(232,232,232,1) 18%, rgba(203,216,255,1) 49%, rgba(249,179,179,1) 72%);
    text-align: center;
}


.login-container{
    background-color: darkgrey;
    border-radius: 10px;
    margin: auto;
    display: flex;
    height: 300px;
    width: 600px;
    justify-content: center;
    background: rgb(201,201,201);
    background: radial-gradient(circle, rgba(201,201,201,1) 6%, rgba(95,98,110,1) 98%); 
    
}

.login-content{
    display: flex;
    height: 200px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    

}

.email-label, .pw-label{
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.email-input:focus{
    background-color: rgb(255, 255, 233);
    ;
}

.pw-input:focus{
    background-color: rgb(255, 255, 233);
}

.email-input, .pw-input{
    display: flex;
    border-radius: 5px;
    justify-items: center;
    height: 30px;
}

.submit-btn{
    margin-top: 30px;
    width: 50%;
    height: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
}

.submit-btn:hover{
    background-color: rgb(176, 233, 255);
}

