* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    text-align: start;
}

header, footer {
    background-color: rgb(97, 168, 239);
    height: 80px;
}

header nav {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header .pages {
    display: flex;
    flex-direction: row;
}

header .content-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header .logo {
    width: 2.5rem;
    height: 2.5rem;
}

header nav .content-logo span {
    font-size: 16pt;
}

header nav .menus a {
    margin: 4px;
    padding: 12px 0px;
    border-bottom: 4px solid rgb(171, 249, 243);
    color: white;
    text-align: center;
    transition: .5s;
}

header nav .menus a:hover {
    border-bottom: 4px solid transparent;
    color: rgb(122, 218, 211);
}

header .pages a {
    margin: 4px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: rgb(171, 249, 243);
    color: black;
    text-align: center;
    transition: .5s;
    -webkit-box-shadow: 4px 4px 1px 0px rgb(124, 206, 199);
    -moz-box-shadow: 4px 4px 1px 0px rgb(124, 206, 199);
    box-shadow: 4px 4px 1px 0px rgb(124, 206, 199);
}

header .pages a:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: rgb(124, 206, 199);
}

footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px
}

footer img{
    width: 2rem;
    height: 2rem;
}