@import url(all.css);

html {
  scroll-behavior: smooth;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main h2 {
    font-size: 26px;
}

main small {
    font-size: 16px;
    color: rgb(48, 48, 48);
}

main section {
  padding: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

main section p {
  text-align: justify;
  font-size: 18px;
}

#intro {
    background: rgb(0,212,255);
    background: linear-gradient(0deg, rgba(0,212,255, 0) 0%, rgba(0,212,255, 0.25) 100%);
}

#passport {
    background: rgb(255,162,0);
    background: linear-gradient(0deg, rgba(255,162,0, 0) 0%, rgba(255,162,0, 0.25) 100%);
}

#tips {
    background: rgb(95,255,0);
    background: linear-gradient(0deg, rgba(95,255,0, 0) 0%, rgba(95,255,0,0.25) 100%);
}

#conclusion {
    background: rgb(209,0,255);
    background: linear-gradient(0deg, rgba(209,0,255, 0) 0%, rgba(209,0,255,0.25) 100%);
}

#intro .title-page img {
  height: 14rem;
  margin-top: 2rem;
}

#intro .title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section .intro-page {
    max-width: 50rem;
}

main section .img-side-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}